{% extends "userbase.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} <title> Watchdogit | PasswordReset</title> {% endblock title %}
{% block content %}
    <div class="container card bg-white">
        <form method="POST" class="ms-5">
            {% csrf_token %}
            <fieldset class="form-group">
                <h5 class="border-bottom mb-4 mt-4 fw-lighter">Reset the password</h5>
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            {{ form| crispy }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="text-center pt-1">
                <button class="btn btn-primary btn-block fa-lg btn-secondary mb-3" type="submit">Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}



